* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

$twenty:  20px;
$sixteen: 16px;
$light: #ffffff;


@import "class/logo.scss";
@import "class/conteiner.scss";
@import "class/section.scss";
@import "class/header.scss";
@import "class/menu.scss";
@import "class/preview+text.scss";
@import "class/actions.scss";
@import "class/section__header.scss";
@import "class/section__title-subtitle.scss";
@import "class/slots.scss";
@import "class/cards.scss";







